footer {
    background-color: #3B2F2F;
    color: #E0C097;
    padding: 20px 0;
    font-family: "Merriweather", serif;
    width: 100vw;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    color: #D1A075;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #E0C097;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
