@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
/* font-family: "Domine", serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');



body {
  font-family: 'Merriweather', serif;
}

@import "tailwindcss";


@layer base {
    :root {
      --dark-purple: #12022b; /* Custom purple */
      --dark-green: #012706;
    }

  

    .purple-bg {
        background-color: var(--dark-purple) !important;
      }
    .green-bg {
        background-color: var(--dark-green) !important;
      }

}  

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

